@model string

<div class="add-container">
    <h3 class="add-title">Notes of @Model</h3>
    
    <div class="add-group">
        <p class="add-text">Do you want to add a note?</p>
        <a asp-action="Add" asp-controller="Notes" class="add-link">
            <i class="bi bi-plus-lg"></i> 
            Add
        </a>
    </div>
</div>