@model string

@{
    ViewData["Title"] = "You do not have access permission";
}

<link rel="stylesheet" href="~/css/home/error.css" asp-append-version="true"/>

<section class="container">
    <h3 class="error-title">
        You are not authorized to perform this action
    </h3>

    <img class="error-img notauthorize-img" 
    src="~/images/forbiden.png"
         alt="No authorized"
    loading="lazy"/>
</section>

<style>
    .notauthorize-img {
        filter: drop-shadow(5px 5px 15px #139dff80);
    }
</style>